<h1><%= @article.title %></h1>

<div id="article_header">
Written by: <%=	 link_to @article.user.name, @article.user %><br />
<%=	 @article.created_at.strftime("Published: %B %e, %Y") %> <br />


<%	 if can? :update, @article %>
<%=	 link_to "Edit", edit_article_path(@article) %> |
    <%	 end %>
<%	 if can? :delete, @article %>
<%=	 link_to "Delete", @article, confirm: "Are you sure?", method: :delete %>
    <%	 end %>
  </div>

<div id="article_content">
  <span class="article_body"><p><%=	 simple_format(@article.body) %></p></span>
<b>Author's Resource Box</b>
<span class="article_body"><p><%=	 simple_format(@article.author) %></p></span>
</div>

<div id="adsense">
  <%=	 render "layouts/adsense_160" %>
</div>

<div id="content_footer"></div>



