<h1><%=	 @user.name %>'s Articles</h1>

<%	 @articles.each do |article| %>
    <ul>
    <li><span class="title"><%=	 link_to article.title, article_path(article) %></span></li>
    </ul>
<%	 end %>

<p>
<%	 if @articles.empty? %>
    You have not written any articles yet. <%=	 link_to "Go ahead and write one.", new_path %>
      <%	 else %>
      <span class="count">Total number of articles: <%=	 @articles.count %></span>
    <%	 end %>
</p>

  <%=	 will_paginate @articles %>
  <br />



