<div id="article">

<h1>Welcome to Convenient Articles</h1>
<br />


<h2>Recent Articles</h2>
<%	 @articles.each do |article| %>
    <p>
<span class="title"><%=	 link_to article.title, article_path(article) %></span><br />
      <span class="body"><%=	 article.body.slice(0,300) %>...</span><br />
      <span class="time_published">By: <%=	 article.user.name %></span>
      <span class="time_published">Published: <%=	time_ago_in_words( article.created_at)  %> ago</span>
    </p>
<%	 end %>
<%=	 will_paginate @articles %>
</div>


<div id="search">
<%=	 form_tag root_path, :method => 'get' do %>
      <div id="search_text"><%=	 text_field_tag :search, params[:search] %></div>
      <div id="search_button"><%=	 image_submit_tag("search.png")%></div>
<%	 end %>
</div>
