<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%	 if flash[:alert] %>
    <div id="error_message">
    <%=	 flash[:alert] %>
    </div>
        <%	 end %>

    <div id="devise">
    <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
    </div>

  <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
  <% end -%>

<p><%= f.submit "Sign in", class: "button" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>